In [10]:
import pandas as pd
stuff = pd.read_csv('../datasets/IM2GPS/human_geolocation_test_anon/coords.csv')
stuff[stuff.pred.isna() == False]

,Unnamed: 0.1,Unnamed: 0,image,latitude,longitude,pred
0,0,18,251e07a5-d16b-4f2c-bc50-cb7a4d1e3bf5.jpg,18.986168,72.810859,"18.9828273, 72.8088966"
13,13,1,9d28c932-39f4-4332-bd4c-c098933f57af.jpg,36.006895,-112.038574,"36.0176269, -111.9769134"
51,51,0,85681330-3209-49f9-9109-c7e7ffba9b23.jpg,39.904732,116.416282,"39.916253, 116.39019"